apk_kannada.dtd

<!ELEMENT kannada (book+)>
<!ELEMENT book (s1*)>
<!ATTLIST book code CDATA #REQUIRED>
<!ATTLIST book btitle CDATA #REQUIRED>
<!ELEMENT s1 (s2*)>
<!ATTLIST s1 title CDATA #REQUIRED>
<!ATTLIST s1 page CDATA #REQUIRED>
<!ELEMENT s2 (s3*)>
<!ATTLIST s2 title CDATA #REQUIRED>
<!ATTLIST s2 page CDATA #REQUIRED>
<!ELEMENT s3 (s4*)>
<!ATTLIST s3 title CDATA #REQUIRED>
<!ATTLIST s3 page CDATA #REQUIRED>
<!ELEMENT s4 (#PCDATA)>
<!ATTLIST s4 title CDATA #REQUIRED>
<!ATTLIST s4 page CDATA #REQUIRED>
